.typing-container {
  width: 100vw;
  height: 32vw;
  background: url('../../icons/bgimg.png');
  background-size: cover;
  color: black;
  font-size: 32px;
  padding-left: 350px;
  padding-top: 180px;
}

.typing-span {
  color: black;
  font-size: 44px;
  font-weight: 600;
  margin-left: 200px;
  margin-top: 280px;
}
