.course-banner {
  height: 60vh;
  width: 100vw;
  color: #211f1f;
  background-color: #fff;
  font-weight: 700;
  background-size: cover;
  background-repeat: no-repeat;
  bottom: 0;
  padding-right: 20vw;
  z-index: -1;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  /* border: 1px solid rgb(196, 194, 194); */
}

.banner-heading {
  font-size: 48px;
  font-weight: 700;
  margin-top: 50px;
  color: rgb(86, 83, 83);
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.btn-container-banner {
  width: 26vw;
  margin-top: 4vw;
}

.banner-text {
  margin-top: 4vw;
  font-size: 22px;
  color: #0866ff;
}

.banner-container {
  width: 100vw;
}

.banner-left {
  width: 50%;
  padding-left: 15vw;
}

.join-btn1,
.join-btn2 {
  width: 12vw;
  font-size: larger;
  font-weight: 600;
  background-color: #fff;
  color: #0866ff;
  border: 1px solid #0866ff;
  border-radius: 22px;
}
.join-btn1:hover {
  width: 12vw;
  font-size: larger;
  font-weight: 600;
  color: white;
  background-color:#0866ff;
  border: none;
}
.join-btn2:hover {
  width: 12vw;
  font-size: larger;
  font-weight: 600;
  color: white;
  /* background-color:#0866ff; */
  background-color: #0866ff;
  border: none;
}

.banner-right {
  width: 50%;
  height: 31vw;
}

.banner-inside {
  margin-top: 20vh;
  height: 30vh;
  width: 15vw;
  padding-top: 50px;
  margin-left: 9vw;
}

.actual-price {
  font-size: 26px;
  text-decoration: line-through;
  color: rgb(133, 130, 130);
}

.offered-price {
  font-size: 44px;
  font-weight: 700;
}

/* CourseDetail CSS */
.banner-course {
  /* background-color: #4c55b1; */
  width: 100%;
  /* height: 45vh; */
}
.course-detail-heading {
  /* border: 1px solid black; */
  width: 250px;
  height: 50px;
  background-color: #effaff;
  color: rgb(9, 8, 67);
  font-size: 22px;
  font-weight: 700;
  border-radius: 24px;
  padding-top: 10px;
}

.daywise-course-container {
  width: 85vw;
  margin-left: auto;
  margin-right: auto;
  /* position: relative; */
}

.course-detail-card {
  width: 26vw;
  height: 92vh;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  border-radius: 15px;
}
.course-detail-card:hover {
  transform: scale(1.02);
  transition: calc(1.2);
}

.daywise-text {
  font-style: normal;
  /* font-optical-sizing: auto; */
}

.detail-btn1 {
  width: 25%;
  /* border: 2px solid #424ecf; */
  border: 2px solid #0866ff;
  /* border: 2px solid rgb(103, 64, 41); */
  /* color: #424ecf; */
  color: #0866ff;
  /* color: rgb(103, 64, 41); */
  font-weight: 600;
  border-radius: 22px;
  margin-right: 24vw;
  border-style: solid;
  padding-left: var(--wp--preset--spacing--50);
}

.detail-btn2 {
  width: 24vw;
  height: 35px;
  color: #fff;
  font-weight: 600;
  border-radius: 8px;
  margin-right: 15px;
  border-style: solid;
  font-family: 'Montserrat', sans-serif;
  /* background-color: rgb(103, 64, 41); */
  background-color: #0866ff;
  margin-top: 15px;
  cursor: pointer;
}

.detail-btn3 {
  width: 8vw;
  font-size: 18px;
  color: gray;
  margin-left: 16vw;
  border: none;
  margin-top: 80px;
  text-decoration: underline;
}

/* .module-modal {
  width: 100vw;
  height: 50vh;
} */

.custom-modal {
  max-width: 100vw; /* Customize the width */
  max-height: 50vh; /* Customize the height */
  /* line-height: 1.6; */
}

.custom-modal .modal-body {
  overflow-y: auto; /* Allow scrolling if content overflows */
}
.modal-body ul li {
  border: 1px solid gray;
}
.daywise-topic {
  font-size: 18px;
  font-weight: 600;
  font-family: 'Montserrat', sans-serif;
  /* padding: 30px; */
  font-optical-sizing: auto;
}

/* CSS for Stack.js */
.enroll-form {
  width: 80vw;
  border: 2px solid gray;
}
