.slider-container {
  width: 80vw;
  height: 42vh;
  justify-content: space-between;
}
.card-slick {
  height: 16vw;
  display: flex !important;
  justify-content: center;
  padding-top: 5px;
}
.slick-img-container {
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  width: 14vw;
  height: 14vw;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  background-color: #f6f6f6;
}
.slick-img-container:hover {
  width: 14vw;
  height: 14vw;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  transform: scale(1.03);
  transition: calc(1.2);
  background-color: rgb(171, 169, 169);
  color: #fff;
  /* background-color: #0866ff; */
}
.slick-image {
  object-fit: contain;
  height: 12vh;
  width: 10vw;
}
.slick-prev {
  /* z-index: 1; */
  margin-right: 2%;
}
.slick-next {
  z-index: 1;
}
