.card-livspace {
  border: 1px solid rgb(242, 236, 236);
  width: 23vw;
  border-radius: 15px;
}
.card-livspace:hover {
  cursor: pointer;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  transform: scale(1.02);
}

.card-img-liv {
  width: 100%;
  height: 220px;
  object-fit: cover;
  border-radius: 15px 15px 0px 0px;
}

.listing a {
  padding: 40px;
  font-weight: bolder;
}

.inset {
  position: absolute;
  inset: 0;
}
.white {
  color: white;
}
.gray {
  color: #446;
}

.full {
  height: 100vh;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.gradient {
  background: linear-gradient(rgba(14, 62, 151, 0.5) 50%, black);
}
/* Stats.js  */
.counter-section {
  /* background-color: #EEFAFF; */
  background-color: #fff;
  width: 90vw;
}

.order-first {
  font-weight: 700;
}

.stats-text {
  font-size: 20px;
}

/* CSS FOR Blog.js */

.word-card {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

/* 3D Effect and hover styling */
.word-card {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  transform-style: preserve-3d;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.word-card:hover {
  transform: translateY(-10px) rotateX(5deg) rotateY(5deg);
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.2);
}

.word-card img {
  transition: transform 0.3s ease;
}

.word-card:hover img {
  transform: scale(1.1);
}

/* Ensure that the parent container has perspective */
/* .bg-white {
  perspective: 1500px;
} */

/* .text-glow {
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.8), 0 0 20px rgba(255, 255, 255, 0.6);
}

.text-glow-blue {
  text-shadow: 0 0 10px rgba(0, 204, 255, 0.8), 0 0 20px rgba(0, 204, 255, 0.6);
} */

.header {
  box-shadow: rgba(17, 17, 26, 0.05) 0px 4px 16px,
    rgba(17, 17, 26, 0.05) 0px 8px 32px;
}

.banner-course {
  /* background: url('file:///C:/Users/aakrt/Downloads/Untitled%20design%20(3).png'); */
  background: url('C:\Users\aakrt\OneDrive\Desktop\grpn-infotech\grf-tech\src\icons\grouppic.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  height: 70vh;
  filter: brightness(60%);
}

.banner-course::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(62, 91, 122, 0.6);
  pointer-events: none; /* To ensure the content remains interactive if necessary */
}
/* Carousel css */
.carousel-container {
  background-image: url('./icons/bgimg.png');
  background-repeat: no-repeat;
  background-size: cover;
}
