.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.card-livspace{
  border: 1px solid rgb(242, 236, 236);
  width: 23vw;
  border-radius:15px ;
}
.card-livspace:hover{
  cursor: pointer;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  transform: scale(1.02);
}

.card-img-liv{
  width: 100%;
  height:220px;
  object-fit: cover;
  border-radius:15px 15px 0px 0px;
}

.listing a{
 padding: 40px;
 font-weight: bolder;
 
}

.inset {
  position: absolute;
  inset: 0;
}
.white {
  color: white;
}
.gray {
  color: #446;
}

.full {
  height: 100vh;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.gradient {
  background: linear-gradient(rgba(14, 62, 151, 0.5) 50%, black);
}
/* Stats.js  */
.counter-section{
  background-color: #EEFAFF;
  /* background: rgb(36, 136, 173);
    background: linear-gradient(90deg, rgba(36, 136, 173, 1) 4%, rgba(17, 71, 91, 1) 7%, rgba(12, 55, 71, 1) 9%, rgba(13, 10, 55, 1) 17%, rgba(12, 35, 67, 1) 28%, rgba(4, 14, 57, 1) 41%, rgba(5, 21, 67, 1) 53%, rgba(5, 25, 72, 1) 59%, rgba(6, 30, 79, 1) 67%, rgba(11, 42, 100, 1) 71%, rgba(10, 40, 97, 1) 72%, rgba(6, 35, 86, 1) 80%, rgba(9, 60, 121, 1) 92%, rgba(12, 62, 122, 1) 92%, rgba(8, 79, 138, 1) 95%, rgba(11, 120, 165, 1) 97%, rgba(0, 212, 255, 1) 100%);; */
width:70vw;
}
.counter{
  /* border: 1px solid pink; */
}

.order-first{
  font-weight: 700;
}

.stats-text{
  font-size: 20px;
}

/* CSS FOR Blog.js */

.word-card{
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}