* {
  margin: 0px;
  padding: 0px;
}

.app-container {
  width: 100vw;
}
.homepage-container {
  width: 100vw;
}

@media screen and (min-device-width: 280px) and (max-device-width: 768px) {
  .app-container {
    width: 100vw;
  }
}
.card-livspace {
  border: 1px solid rgb(242, 236, 236);
  width: 23vw;
  border-radius: 15px;
}
.card-livspace:hover {
  cursor: pointer;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  transform: scale(1.02);
}

.card-img-liv {
  width: 100%;
  height: 220px;
  object-fit: cover;
  border-radius: 15px 15px 0px 0px;
}

.listing a {
  padding: 40px;
  font-weight: bolder;
}

.inset {
  position: absolute;
  inset: 0;
}
.white {
  color: white;
}
.gray {
  color: #446;
}

.full {
  height: 100vh;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.gradient {
  background: linear-gradient(rgba(14, 62, 151, 0.5) 50%, black);
}
/* Stats.js  */
/* @media screen and (min-device-width: 430px) and (max-device-width: 932px) {
  .counter-section-container {
    background-color: #fff;
    border: 2px solid red;
    width: 100%;
    height: 40vh;
  }
  .counter-section {
    background-color: #fff;
    width: 90vw;
    height: 50vh;
    border: 2px solid blue;
  }
} */
.counter-section-container {
  background-color: #fff;
  /* border: 2px solid red; */
  width: 100%;
  height: 25vh;
}
.counter-section {
  background-color: #fff;
  width: 90vw;
  height: 15vh;
  /* border: 2px solid blue; */
}

.order-first {
  font-weight: 700;
}

.stats-text {
  font-size: 20px;
}

/* CSS FOR Blog.js */
.word-card {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

/* 3D Effect and hover styling */
.word-card {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  transform-style: preserve-3d;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.word-card:hover {
  transform: translateY(-10px) rotateX(5deg) rotateY(5deg);
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.2);
}

.word-card img {
  transition: transform 0.3s ease;
}

.word-card:hover img {
  transform: scale(1.1);
}

.header {
  width: 100%;
  box-shadow: rgba(17, 17, 26, 0.05) 0px 4px 16px,
    rgba(17, 17, 26, 0.05) 0px 8px 32px;
}

.modal-text {
  width: 100%;
}
.modal-body {
  max-height: 80%;
  overflow-y: auto;
}

/* Carousel css */
.carousel-container {
  background-image: url('./icons/bgimg.png');
  background-repeat: no-repeat;
  background-size: cover;
}
