.container-top-right {
  width: 50%;
  height: 40vh;
  /* border: 1px solid gray; */
  padding-left: 3vw;
}
.container-top-left {
  width: 50%;
  /* border: 1px solid gray; */
}
.why-choose-us-container {
  width: 18vw;
  height: 40vh;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.why-choose-us-container:hover {
  width: 18vw;
  height: 40vh;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transform: scale(1.02);
  transition: calc(1.05);
}
.our-best {
  width: 55px;
  height: 55px;
  border-radius: 6px;
}
.para-our-best {
  color: rgb(71, 71, 71);
  margin-top: 25px;
}

.btn-our-best {
  width: 120px;
  height: 30px;
  border-radius: 15px;
  background-color: #2563eb;
  color: white;
  font-weight: 500;
  margin-left: 5px;
}
